Django~=4.0.1
psycopg2-binary==2.9.6
pip==23.1.2
attrs~=22.1.0
distro~=1.7.0
wheel~=0.37.1
cryptography~=3.4.8
Pillow~=9.3.0
ipython==8.13.2
ipdb~=0.13.13
decorator~=5.1.1
gunicorn
parso~=0.8.3
jedi~=0.18.2
colorama==0.4.6
asgiref==3.7.1
sqlparse~=0.4.3
# psycopg2~=2.9.6
PyYAML~=5.4.1
numpy~=1.21.5
requests~=2.27.1
Pygments~=2.14.0
traitlets~=5.9.0
backcall~=0.2.0
pickleshare~=0.7.5
future~=0.18.2
pexpect~=4.8.0
setuptools==67.8.0
wcwidth~=0.2.6
six~=1.16.0
asttokens~=2.2.1
executing~=1.2.0
pyparsing==3.0.9
zipp==3.15.0
python-dotenv==1.0.0